// Dev.xcconfig
// 개발 환경 설정

TAS_URL = http:/$()/3.34.244.155:8090
VERIFIER_URL = http:/$()/3.34.244.155:8092
CAS_URL = http:/$()/3.34.244.155:8094
WALLET_URL = http:/$()/3.34.244.155:8095
API_URL = http:/$()/3.34.244.155:8093
DEMO_URL = http:/$()/3.34.244.155:8099
JINBON_URL = https:/$()/3.34.244.155.sslip.io

// ATS: Info.plist에서 NSAllowsArbitraryLoads를 직접 관리
// 프로덕션 배포 전 <false/>로 변경 필요
